<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>CISO'S PIZZAS</title>
</head>

<body>
    <!-- nav -->
    <div class="container">
        <nav class="navbar navbar-light bg-white">
            <a class="navbar-brand" href="/">
                <img id="logo" src="{% static 'img/pizza.jpeg' %}" alt="Ciso's Pizzas"
                    class="d-inline-block align-middle">
                CISO'S PIZZAS
            </a>
        </nav>
        <main>
            {% block main %}
            {% endblock main %}
        </main>
    </div>
</body>

</html>